:root {
    --font-main-color: #212121;
    --font-secondary-color: #757575;
    --font-hover-link-color: #2196f3;
    --btn-hover-bg-color: #2196f3;
    --color-white: #ffffff;
    --color-black: #000000;
    --bg-dark-color: #2f303a;
    --bg-medium-color: #f5f4fa;
    --font-transparent: rgb(255 255 255 / 0.6);
    --nav-border-color: #ececec;
  }

  body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: var(--font-main-color);
  }
  
  /* Background colors */

  .showcase {
    background-color: var(--bg-dark-color);
    text-align: center;
    padding: 200px 0px;
  }
  
  .team {
    background-color: var(--bg-medium-color);
  }
  
  .foot {
    background-color: var(--bg-dark-color);
    height: 252px;
    padding: 60px 215px 24px 215px;
  }
  
  /* Links */
  
  .style-link {
    text-decoration: none;
  }
  
  .transparent {
    color: var(--font-transparent);
  }
  
  .underline-link {
    text-decoration: underline;
  }
  
  /* Hover and focus */
  
  .filter-btn:hover,
  .filter-btn:focus,
  .order-btn:hover,
  .order-btn:focus {
    background-color: var(--btn-hover-bg-color);
    color: var(--color-white);
    cursor: pointer;
  }
  
  .style-link:hover,
  .style-link:focus {
    color: var(--font-hover-link-color);
  }
  
  /* Font colors, sizes and weight */
  
  .logo-placeholder {
    display: inline-block;
    color: var(--color-black);
    font-family: "Raleway";
    font-style: normal;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 93px;
    vertical-align: middle;
  }
  
  .logo-down {
    color: var(--color-white);
  }
  
  .logo-span {
    color: var(--font-hover-link-color);
  }
  
  .navigation {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    vertical-align: middle;
  }
  
  .nav-link {
    color: var(--font-main-color);
  }
  
  .info-link {
    color: var(--font-secondary-color);
  }
  
  .mail-link {
    display: inline-block;
    margin-left: 371px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    vertical-align: middle;
  }
  
  .tel-link {
    display: inline-block;
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    vertical-align: middle;
  }
  
  .showcase-h1 {
    display: block;
    margin: auto;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    width: 700px;
  }
  
  .section-h2 {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto 50px auto;
  }
  
  .order-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    margin-top: 30px;
    width: 200px;
    border: none;
    padding: 10px 0px;
  }
  
  .about-h3 {
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .about-article {
    color: var(--font-secondary-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .teammate-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  
  .teammate-description {
    color: var(--font-secondary-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  
  .adres {
    font-style: normal;
  }
  
  .where-to {
    color: var(--color-white);
  }
  
  .filter-btn {
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
  }
  
  .portfolio-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;
  }
  
  .portfolio-description {
    color: var(--font-secondary-color);
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    margin: 0;
  }
  
  .wrapper {
    width: 1600px;
    margin: auto;
  }
  
  .container {
    width: 1200px;
    margin: 0px auto;
    padding: 0 15px;
  }
  
  .section {
    padding: 94px 0px;
  }
  
  .header-container {
    border-bottom: 1px solid var(--nav-border-color);
    padding: 24px 0px;
    font-size: 0px;
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 254px;
    justify-content: space-between;
  }
  
  .about-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0; 
  }
  
  .about-list > li:not(:last-child) {
    margin-right: 30px;
  }
  
  .about-list > li {
    flex: 1; 
  }
  
  .what-we-do {
    margin-top: 94px;
  }
  
  .about-pic-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; 
    justify-content: space-between;
  }
  
  .team-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; 
    justify-content: space-between;
    text-align: center;
  }
  
  .adres-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }
  
  .adres-list > li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .filtr-portfolio {
    margin: 0 auto 50px auto;
    width: 572px;
  }
  
  .portfolio-buttons {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }
  
  .portfolio-text-container {
    padding: 20px 24px;
    text-align: start;
  }
  
  .portfolio-list {
    text-align: center;
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .portfolio-item {
    border-bottom: 1px solid #eeeeee;
    flex-basis: calc((100% - 60px) / 3);
  }